In [2]:
import numpy as np
from sklearn.preprocessing import MinMaxScaler

In [4]:
data = np.random.randint(0,100,(10,2))

In [5]:
data

array([[95, 26],
       [56, 19],
       [47, 84],
       [95, 55],
       [28, 75],
       [ 0, 69],
       [ 8, 80],
       [93,  7],
       [37, 18],
       [10, 41]])

In [7]:
scaler_model = MinMaxScaler()

In [8]:
type(scaler_model)

sklearn.preprocessing.data.MinMaxScaler

In [9]:
scaler_model.fit(data)

/home/andresaguilar/anaconda3/envs/tfdeeplearning/lib/python3.5/site-packages/sklearn/utils/validation.py:444: DataConversionWarning: Data with input dtype int64 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)

MinMaxScaler(copy=True, feature_range=(0, 1))

In [10]:
scaler_model.transform(data)

array([[ 1.        ,  0.24675325],
       [ 0.58947368,  0.15584416],
       [ 0.49473684,  1.        ],
       [ 1.        ,  0.62337662],
       [ 0.29473684,  0.88311688],
       [ 0.        ,  0.80519481],
       [ 0.08421053,  0.94805195],
       [ 0.97894737,  0.        ],
       [ 0.38947368,  0.14285714],
       [ 0.10526316,  0.44155844]])

In [11]:
import pandas as pd

In [17]:
my_data= np.random.randint(0,101,(50,4))
df = pd.DataFrame(data=my_data, columns = ['f1','f2','f3','label'])

In [18]:
df

    f1  f2  f3  label
0   69  91  55     64
1   59  99  20     97
2   99  17  56     15
3   87  80  50      6
4   14   4  87     36
5   16  96  70     56
6   52  70  71     88
7   68  36   4     77
8   94  34  72     30
9   76  98  31     57
10   0   3   9     91
11  75  85  86     27
12  73  62  55      6
13  83  41  39     23
14  71  79  88     45
15  24  70   1     27
16  83  80  54     24
17  88  55  92     21
18  96   0  86     57
19  65  86  15     91
20  97  34  10     40
21  34  56  19     55
22  88  93  43     22
23  93  41  74     64
24  23  97  99      0
25  64   1  29      3
26  34  53  33     98
27  49  87  12     30
28  75  20  44     84
29  32  73  68     63
30  45  25   2     29
31  13  91  92     93
32  88  94  24     81
33   7  71  96     88
34   1   1  68     44
35  61  61  88     84
36   5  75  14     53
37  32  51  47     48
38  96  10  53     74
39  47  69  51     81
40  64  67  91      2
41  69  54  94      6
42  90  61  28    100
43  87  57  71     11
44  11  93  70     45
45  40  50  58     69
46  77  69  23     82
47  24  85  19      9
48  44  31   0     63
49  55  51  18     65

In [20]:
X = df[['f1','f2','f3']]
X

    f1  f2  f3
0   69  91  55
1   59  99  20
2   99  17  56
3   87  80  50
4   14   4  87
5   16  96  70
6   52  70  71
7   68  36   4
8   94  34  72
9   76  98  31
10   0   3   9
11  75  85  86
12  73  62  55
13  83  41  39
14  71  79  88
15  24  70   1
16  83  80  54
17  88  55  92
18  96   0  86
19  65  86  15
20  97  34  10
21  34  56  19
22  88  93  43
23  93  41  74
24  23  97  99
25  64   1  29
26  34  53  33
27  49  87  12
28  75  20  44
29  32  73  68
30  45  25   2
31  13  91  92
32  88  94  24
33   7  71  96
34   1   1  68
35  61  61  88
36   5  75  14
37  32  51  47
38  96  10  53
39  47  69  51
40  64  67  91
41  69  54  94
42  90  61  28
43  87  57  71
44  11  93  70
45  40  50  58
46  77  69  23
47  24  85  19
48  44  31   0
49  55  51  18

In [21]:
y = df['label']

In [22]:
y

0      64
1      97
2      15
3       6
4      36
5      56
6      88
7      77
8      30
9      57
10     91
11     27
12      6
13     23
14     45
15     27
16     24
17     21
18     57
19     91
20     40
21     55
22     22
23     64
24      0
25      3
26     98
27     30
28     84
29     63
30     29
31     93
32     81
33     88
34     44
35     84
36     53
37     48
38     74
39     81
40      2
41      6
42    100
43     11
44     45
45     69
46     82
47      9
48     63
49     65
Name: label, dtype: int64

In [23]:
from sklearn.model_selection import train_test_split

In [24]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=101)

In [25]:
X_train.shape

(33, 3)